# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Параметры USER и PASSWORD почему-то не передаются. Просто замените их в файле settings.py

SECRET_KEY=your_secret_key
NAMEDB=database name
USERNAME=user
PSWD=password
HOST=127.0.0.1
PORT=5432
USR_EM=user email
PSW_EM=password email
